# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @anirudha @nknize @penghuo @ps48 @kavithacm @derek-ho @joshuali925 @zhongnansu @chloe-zh @sejli @YANG-DB @davidcui1225 @rupal-bq @CEHENKLE @mengweieric @eugenesk24 @brijos @vamsi-amazon