# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @anirudha @penghuo @ps48 @kavithacm @derek-ho @joshuali925 @YANG-DB @rupal-bq @mengweieric @vamsi-amazon, @Yury-Fridlyand, @MaxKsyunz