/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
  // For Spring IOC
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "defineClass";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.RuntimePermission "accessUserInformation";
  permission java.net.NetPermission "getProxySelector";
  permission java.net.SocketPermission "*", "accept,connect,resolve";

  // ml-commons client
  permission java.lang.RuntimePermission "setContextClassLoader";

  // hive2 jdbc required
  permission java.io.FilePermission "*", "read, write";
  permission java.security.SecurityPermission "*";
};
