/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

grant {
  // For Spring IOC
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "defineClass";
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";

    // For AWS SDK
    permission java.io.FilePermission "/Users/penghuo/.aws/*", "read";
    permission java.io.FilePermission "/Users/daichen/.aws/*", "read";
    permission java.net.SocketPermission "*", "accept,connect,resolve";
};
