name: Flint CI

on:
  pull_request:
    branches:
      - 'feature/flint'
  push:
    branches:
      - 'feature/flint'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        entry:
          - { os: ubuntu-latest, java: 11 }
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Integ Test
        run: sbt integtest/test
