name: Publish unified query modules to maven

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 1.*
      - 2.*

env:
  SNAPSHOT_REPO_URL: https://central.sonatype.com/repository/maven-snapshots/

jobs:
  publish-unified-query-modules:
    strategy:
      fail-fast: false
    if: github.repository == 'opensearch-project/sql'
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/setup-java@v3
        with:
          distribution: temurin # Temurin is a distribution of adoptium
          java-version: 21
      - uses: actions/checkout@v3
      - name: Load secret
        uses: 1password/load-secrets-action@v2
        with:
          # Export loaded secrets as environment variables
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          SONATYPE_USERNAME: op://opensearch-infra-secrets/maven-central-portal-credentials/username
          SONATYPE_PASSWORD: op://opensearch-infra-secrets/maven-central-portal-credentials/password

      - name: publish unified query modules to maven
        run: |
          ./gradlew publishUnifiedQueryPublicationToSnapshotsRepository
