name: SQL JDBC Java CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        java:
          - 14
          - 17
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sql-jdbc

    steps:
    - uses: actions/checkout@v1

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    
    - name: Build with Gradle
      run: ./gradlew build test shadowJar
    
    - name: Create Artifact Path
      run: |
        mkdir -p sql-jdbc-builds
        cp ./build/libs/*.jar sql-jdbc-builds

    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: sql-jdbc
        path: sql-jdbc/sql-jdbc-builds
