name: SQL Java CI

on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - '**/*.java'
      - '**/*.g4'
      - '!sql-jdbc/**'
      - '**gradle*'
      - '**lombok*'
      - 'integ-test/**'
      - '**/*.jar'
      - '**/*.pom'
      - '.github/workflows/sql-test-and-build-workflow.yml'

jobs:
  Get-CI-Image-Tag:
    uses: opensearch-project/opensearch-build/.github/workflows/get-ci-image-tag.yml@main
    with:
      product: opensearch

  build:
    strategy:
      # Run all jobs
      fail-fast: false
      matrix:
        entry:
          - { os: windows-latest, java: 21, os_build_args: -x doctest -PbuildPlatform=windows }
          - { os: macos-13, java: 21 }
          - { os: ubuntu-latest, java: 21 }
    runs-on: ${{ matrix.entry.os }}
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.entry.java }}

    - name: Build with Gradle
      run: ./gradlew --continue build ${{ matrix.entry.os_build_args }}

    - name: Create Artifact Path
      run: |
        mkdir -p opensearch-sql-builds
        cp -r ./plugin/build/distributions/*.zip opensearch-sql-builds/

    - name: Create Artifact Path
      run: |
        mkdir -p opensearch-sql-builds
        cp -r ./plugin/build/distributions/*.zip opensearch-sql-builds/

      # This step uses the codecov-action Github action: https://github.com/codecov/codecov-action
    - name: Upload SQL Coverage Report
      if: ${{ always() && matrix.entry.os == 'ubuntu-latest' }}
      uses: codecov/codecov-action@v3
      continue-on-error: true
      with:
        flags: sql-engine
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      continue-on-error: true
      with:
        name: opensearch-sql-ubuntu-latest-${{ matrix.java }}
        path: opensearch-sql-builds

    - name: Upload test reports
      if: ${{ always() && matrix.entry.os == 'ubuntu-latest' }}
      uses: actions/upload-artifact@v4
      continue-on-error: true
      with:
        name: test-reports-ubuntu-latest-${{ matrix.java }}
        path: |
          sql/build/reports/**
          ppl/build/reports/**
          core/build/reports/**
          common/build/reports/**
          opensearch/build/reports/**
          integ-test/build/reports/**
          protocol/build/reports/**
          legacy/build/reports/**
          plugin/build/reports/**
          doctest/build/testclusters/docTestCluster-0/logs/*
          integ-test/build/testclusters/*/logs/*

  bwc-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [21]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Run backward compatibility tests
        run: |
          chown -R 1000:1000 `pwd`
          su `id -un 1000` -c "./scripts/bwctest.sh"

      - name: Upload test reports
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: test-reports-ubuntu-latest-${{ matrix.java }}-bwc
          path: |
            sql/build/reports/**
            ppl/build/reports/**
            core/build/reports/**
            common/build/reports/**
            opensearch/build/reports/**
            integ-test/build/reports/**
            protocol/build/reports/**
            legacy/build/reports/**
            plugin/build/reports/**
            doctest/build/testclusters/docTestCluster-0/logs/*
            integ-test/build/testclusters/*/logs/*
