name: SQL Java CI

on: [push, pull_request]

env:
  OPENSEARCH_VERSION: '1.2.3-SNAPSHOT'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    
    - name: Set up JDK 1.14
      uses: actions/setup-java@v1
      with:
        java-version: 1.14
    
    - name: Build with Gradle
      run: ./gradlew build assemble -Dopensearch.version=${{ env.OPENSEARCH_VERSION }}

    - name: Create Artifact Path
      run: |
        mkdir -p opensearch-sql-builds
        cp -r ./plugin/build/distributions/*.zip opensearch-sql-builds/

    # This step uses the codecov-action Github action: https://github.com/codecov/codecov-action
    - name: Upload SQL Coverage Report
      uses: codecov/codecov-action@v1
      with:
        flags: sql-engine
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: opensearch-sql
        path: opensearch-sql-builds
