name: SQL Java CI

on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths:
      - '**/*.java'
      - '**/*.g4'
      - '!sql-jdbc/**'
      - '**gradle*'
      - '**lombok*'
      - '**checkstyle*'
      - 'integ-test/**'
      - '**/*.jar'
      - '**/*.pom'
      - '.github/workflows/sql-test-and-build-workflow.yml'

jobs:
  build:
    strategy:
      # Run all jobs
      fail-fast: false
      matrix:
        entry:
          - { os: ubuntu-latest, java: 11 }
          - { os: windows-latest, java: 11, os_build_args: -x doctest -x integTest -x jacocoTestReport -x compileJdbc}
          - { os: macos-latest, java: 11, os_build_args: -x doctest -x integTest -x jacocoTestReport -x compileJdbc }
          - { os: ubuntu-latest, java: 17 }
          - { os: windows-latest, java: 17, os_build_args: -x doctest -x integTest -x jacocoTestReport -x compileJdbc }
          - { os: macos-latest, java: 17, os_build_args: -x doctest -x integTest -x jacocoTestReport -x compileJdbc }
    runs-on: ${{ matrix.entry.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.entry.java }}

    - name: Build with Gradle
      run: ./gradlew --continue build ${{ matrix.entry.os_build_args }}

    - name: PiTest with Gradle
      run: ./gradlew :core:pitest

    - name: Run backward compatibility tests
      if: ${{ matrix.entry.os == 'ubuntu-latest' }}
      run: ./scripts/bwctest.sh

    - name: Create Artifact Path
      run: |
        mkdir -p opensearch-sql-builds
        cp -r ./plugin/build/distributions/*.zip opensearch-sql-builds/

    # This step uses the codecov-action Github action: https://github.com/codecov/codecov-action
    - name: Upload SQL Coverage Report
      if: ${{ always() && matrix.entry.os == 'ubuntu-latest' }}
      uses: codecov/codecov-action@v3
      with:
        flags: sql-engine
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: opensearch-sql-${{ matrix.entry.os }}
        path: opensearch-sql-builds

    - name: Upload test reports
      if: ${{ always() && matrix.entry.os == 'ubuntu-latest' }}
      uses: actions/upload-artifact@v2
      with:
        name: test-reports
        path: |
          sql/build/reports/**
          ppl/build/reports/**
          core/build/reports/**
          common/build/reports/**
          opensearch/build/reports/**
          integ-test/build/reports/**
          protocol/build/reports/**
          legacy/build/reports/**
          plugin/build/reports/**
          pitest/build/reports/**
