name: SQL Java CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    
    - name: Set up JDK 1.14
      uses: actions/setup-java@v1
      with:
        java-version: 1.14

    # Publish OpenSearch to local Maven repo for now
    - name: Checkout OpenSearch
      uses: actions/checkout@v2
      with:
        repository: 'opensearch-project/OpenSearch'
        path: OpenSearch
        ref: '1.x'

    - name: Build OpenSearch
      working-directory: ./OpenSearch
      run: ./gradlew publishToMavenLocal
    
    - name: Build with Gradle
      run: ./gradlew build assemble -Dopensearch.version=1.1.0-SNAPSHOT

    - name: Create Artifact Path
      run: |
        mkdir -p opensearch-sql-builds
        cp -r ./plugin/build/distributions/*.zip opensearch-sql-builds/

    # This step uses the codecov-action Github action: https://github.com/codecov/codecov-action
    - name: Upload SQL Coverage Report
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: opensearch-sql
        path: opensearch-sql-builds
